# üõ≥Ô∏è Titanic Dataset - EDA

In this notebook, we will perform exploratory data analysis (EDA) and data cleaning on the Titanic dataset.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Load the dataset
df = pd.read_csv('train.csv')
df.head()

## üìä Basic Info and Missing Values

In [ ]:
df.info()
df.isnull().sum()

## üë∂ Handling Missing Values
We will fill 'Age' with median and drop 'Cabin' due to too many missing values.

In [ ]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df.drop(columns=['Cabin'], inplace=True)
df.dropna(inplace=True)  # Drop rows with missing Embarked

## üîç Univariate Analysis

In [ ]:
sns.countplot(x='Survived', data=df)
plt.title('Survival Count')
plt.show()

In [ ]:
sns.countplot(x='Pclass', data=df)
plt.title('Passenger Class Distribution')
plt.show()

In [ ]:
sns.histplot(df['Age'], bins=30, kde=True)
plt.title('Age Distribution')
plt.show()

## üßë‚Äçü§ù‚Äçüßë Bivariate Analysis

In [ ]:
sns.countplot(x='Sex', hue='Survived', data=df)
plt.title('Survival by Gender')
plt.show()

In [ ]:
sns.countplot(x='Pclass', hue='Survived', data=df)
plt.title('Survival by Class')
plt.show()

In [ ]:
sns.boxplot(x='Survived', y='Age', data=df)
plt.title('Age vs Survival')
plt.show()

In [ ]:
sns.boxplot(x='Survived', y='Fare', data=df)
plt.title('Fare vs Survival')
plt.show()

## ‚úÖ Save Cleaned Dataset (Optional)

In [ ]:
df.to_csv('titanic_cleaned.csv', index=False)